/* onclick="document.getElementById('subscribe').style.display='block'" */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.5;
    background-color: #f1f1f1;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Oswald";
}
.main-container{
    max-width: 1600px;
    box-sizing: border-box;
    margin: auto;
    z-index: 1;
    background-color: white;
}
.nav-bar{
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    margin: 0%;
}
.nav-bar .nav-bar-left{
    float: left;
}
.nav-bar .nav-bar-right{
    float: right;
}
.nav-bar .nav-bar-left a, .nav-bar .nav-bar-right a{
    text-decoration: none;
    color: white;
    padding: 11px 16px;
    transition: all 0.5s ease;
}
.nav-bar .nav-bar-left a:hover, .nav-bar .nav-bar-right a:hover{
    background-color: rgb(232, 232, 232);
    color: black;
}
.main-container .main-heading-row{
    padding: 48px 16px;
    text-align: center;
}
.main-container .main-heading-row h1{
    font-size: 48px;
    margin: 10px 0;
}
.main-container .main-heading-row h6{
    font-size: 16px;
    font-weight: 500;
}
.main-container .main-heading-row h6 span{
    background-color: black;
    color: white;
    padding: 0 8px;
}
.main-container .main-img-row{
    position: relative;
    box-sizing: border-box;
}
.main-container .main-img-row .main-img-content{
    padding: 12px 24px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%,-50%);
    color: white;
}
.main-container .main-img-row .main-img-content h1{
    font-size: 36px;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 4px;
}
.main-container .main-img-row .main-img-content .clear{
    font-size: 64px;
    letter-spacing: 4px;
}
.main-container .main-img-row .main-img-content button{
    padding: 12px 24px;
    color: black;
    background-color: rgba(244, 242, 242, 0.63);
    font-size: 18px;
    font-family: oswald;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.main-container .main-img-row .main-img-content button:hover{
    background-color: rgb(244, 242, 242);
}
/* Pop up */
#subscribe{
    display: none;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.498);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    overflow: auto;
    position: fixed;
    margin: auto;
    animation: popup 1s;
}
.main-container #subscribe .subscribe-content{
    padding: 32px;
    margin: auto;
    width: 80%;
    background-color: white;
    box-sizing: border-box;
}
.main-container #subscribe .subscribe-content .sub-cont-content{
    padding: 0.5px 16px;
}
.main-container #subscribe .subscribe-content .sub-cont-content i{
    cursor: pointer;
    transition: all 0.5s ease;
}
.main-container #subscribe .subscribe-content .sub-cont-content i:hover{
    background-color: rgb(205, 204, 204);
}
.main-container #subscribe .subscribe-content .sub-cont-content h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
.main-container #subscribe .subscribe-content .sub-cont-content i{
    float: right;
    font-size: 24px;
    padding: 8px 16px;
}
.main-container #subscribe .subscribe-content .sub-cont-content p{
    margin: 15px 0;
}
.main-container #subscribe .subscribe-content .sub-cont-content input{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    font-size: 15px;
    display: block;
    box-sizing: border-box;
}
.main-container #subscribe .subscribe-content .sub-cont-content button{
    width: 100%;
    background-color: red;
    color: white;
    padding: 12px 24px;
    margin: 10px 0 16px 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.5s ease;
}
.main-container #subscribe .subscribe-content .sub-cont-content button:hover{
    background-color: rgb(205, 204, 204);
    color: black;
}

.main-container .blog-container{
    width: 100%;
    margin: auto;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.main-container .blog-container .left-blog-section{
    width: 66%;
    float: left;
    box-sizing: border-box;
}

.main-container .blog-container .left-blog-section .left-blog-col-1{
    box-sizing: border-box;
    margin: 16px;
    padding: 12px 24px;
    background-color: white;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 h1{
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 h5{
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 h5 span{
    color: gray;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 p{
    margin: 15px 0;
    text-align: justify;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .img-col-1{
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .btn-col-1{
    margin: 15px 0;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .btn-col-1 .btn-1{
    padding: 8px 16px;
    background-color: white;
    font-weight: bold;
    border: 1px solid rgb(212, 210, 210);
    float: left;
    cursor: pointer;
    transition: all 0.5s ease;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .btn-col-1 .btn-2{
    padding: 8px 16px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    float: right;
    cursor: pointer;
    transition: all 0.5s ease;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .btn-col-1 .btn-1:hover{
    background-color: rgb(210, 208, 208);
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .btn-col-1 .btn-2:hover{
    background-color: rgb(210, 208, 208);
    color: black;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .btn-col-1 .btn-2 span{
    background-color: white;
    color: black;
    padding: 0 6px;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1{
    box-sizing: border-box;

}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-img{
    width: 16.666%;
    float: left;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-detail{
    width: 83.33%;
    float: left;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-detail h4{
    font-size: 20px;
    margin: 10px 0;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-detail h4 span{
    font-size: 15px;
    color: gray;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-detail p{
    margin: 15px 0;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .reply-1{
    box-sizing: border-box;
    margin: 10px 0 15px 0;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .reply-2{
    box-sizing: border-box;
    margin: 10px 0 15px 0;
}
#replies-blog-1, #replies-blog-2, #replies-blog-3{
    display: none;
}
.main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-detail h4{
    font-weight:500 ;
}
.main-container .blog-container .right-blog-section{
    width: 34%;
    float: left;
    box-sizing: border-box;
    padding: 16px 16px;
}
.main-container .blog-container .right-blog-section .right-blog-row-1 div{
    background-color: black;
}
.main-container .blog-container .right-blog-section .right-blog-row-1 div img{
    filter: grayscale(75%);
}
.main-container .blog-container .right-blog-section .right-blog-row-1 .row-1-content{
   padding: 1px 18px; 
   background-color: black;
   color: white;
}
.main-container .blog-container .right-blog-section .right-blog-row-1 .row-1-content h4{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 400;
}
.main-container .blog-container .right-blog-section .right-blog-row-1 .row-1-content p{
    margin: 10px 0;
}
.main-container .blog-container .right-blog-section .right-blog-row-2{
   background-color: white;
}
.main-container .blog-container .right-blog-section .right-blog-row-2 .heading{
    padding: 8px 16px;
    background-color: black;
    color: white;
}
.main-container .blog-container .right-blog-section .right-blog-row-2 .heading h4{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}
.main-container .blog-container .right-blog-section .right-blog-row-2 .popular-posts{
    padding: 16px 0px 16px 10px;
    
}
.main-container .blog-container .right-blog-section .right-blog-row-2 .popular-posts:hover{
    background-color: #cbcbcb;
}
.main-container .blog-container .right-blog-section .right-blog-row-2 .popular-posts img{
    float: left;
    margin-right: 15px;
}
.main-container .blog-container .right-blog-section .right-blog-row-2 .popular-posts div{
    float: left;
}
.main-container .blog-container .right-blog-section .right-blog-row-2 .popular-posts #denim{
    font-size: 18px;
}
.main-container .blog-container .right-blog-section .right-blog-row-3, .main-container .blog-container .right-blog-section .right-blog-row-4, .main-container .blog-container .right-blog-section .right-blog-row-5, .main-container .blog-container .right-blog-section .right-blog-row-6, .main-container .blog-container .right-blog-section .right-blog-row-7{
    background-color: white;
}
.main-container .blog-container .right-blog-section .right-blog-row-3 .heading, .main-container .blog-container .right-blog-section .right-blog-row-4 .heading, .main-container .blog-container .right-blog-section .right-blog-row-5 .heading, .main-container .blog-container .right-blog-section .right-blog-row-6 .heading, .main-container .blog-container .right-blog-section .right-blog-row-7 .heading{
    padding: 8px 16px;
    background-color: black;
    color: white;
}
.main-container .blog-container .right-blog-section .right-blog-row-3 .heading h4, .main-container .blog-container .right-blog-section .right-blog-row-4 .heading h4, .main-container .blog-container .right-blog-section .right-blog-row-5 .heading h4, .main-container .blog-container .right-blog-section .right-blog-row-6 .heading h4, .main-container .blog-container .right-blog-section .right-blog-row-7 .heading h4{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}
.main-container .blog-container .right-blog-section .right-blog-row-3 .advertise{
    margin: 10px;
    background-color: #f1f1f1;
    height: 200px;
    position: relative;
}
.main-container .blog-container .right-blog-section .right-blog-row-3 .advertise span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-container .blog-container .right-blog-section .right-blog-row-4 .tags{
    padding: 0 16px;
}
.main-container .blog-container .right-blog-section .right-blog-row-4 .tags p{
    margin: 15px 0;
}
.main-container .blog-container .right-blog-section .right-blog-row-4 .tags p span{
    background-color: #f1f1f1;
    padding: 0 8px;
    margin-bottom: 16px;
    display: inline-block;
    font-size: 12px;
}
.main-container .blog-container .right-blog-section .right-blog-row-4 .tags p .bg-black{
    background-color: black;
    color: white;
    font-size: 15px;
}
.main-container .blog-container .right-blog-section .right-blog-row-5 .inspiration{
    padding: 0 8px;
} 
.main-container .blog-container .right-blog-section .right-blog-row-5 .inspiration .col-1, .main-container .blog-container .right-blog-section .right-blog-row-5 .inspiration .col-2{
    width: 49.999%;
    float: left;
    padding: 0 8px;
}
.main-container .blog-container .right-blog-section .right-blog-row-5 .inspiration img{
    display: block;
    padding: 8px 0;
}
.main-container .blog-container .right-blog-section .right-blog-row-6 .follow-me{
    padding: 8px 16px;
}
.main-container .blog-container .right-blog-section .right-blog-row-6 .follow-me a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin:  0 2px;
}
.main-container .blog-container .right-blog-section .right-blog-row-6 .follow-me i{
    font-size: 20px;
    cursor: pointer;
}
.main-container .blog-container .right-blog-section .right-blog-row-6 .follow-me i:hover{
    color: rgba(0, 0, 0, 0.628);
}
.main-container .blog-container .right-blog-section .right-blog-row-7 .subscribe{
    padding: 0 16px;
}
.main-container .blog-container .right-blog-section .right-blog-row-7 .subscribe p{
    margin: 15px 0;
}
.main-container .blog-container .right-blog-section .right-blog-row-7 .subscribe input{
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    font-size: 15px;
    display: block;
    box-sizing: border-box;
}
.main-container .blog-container .right-blog-section .right-blog-row-7 .subscribe button{
    width: 100%;
    background-color: red;
    color: white;
    padding: 12px 24px;
    margin: 10px 0 16px 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.5s ease;
}
.main-container .blog-container .right-blog-section .right-blog-row-7 .subscribe button:hover{
    background-color: rgb(205, 204, 204);
    color: black;
}
.footer{
    padding: 32px;
    background-color: #616161;
}
.footer > a{
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 20px 0;
    transition: all 0.5s ease;
    cursor: pointer;
}
.footer > a:hover{
    background-color: #cbcbcb;
    color: black;
}
.footer p{
    text-decoration: none;
    color: white;
}
.footer p a{
    color: white;
}
.main-container::after, .nav-bar::after, .main-heading-row::after, .main-container .main-img-row::after, .main-container .main-img-row .main-img-content::after, .main-container #subscribe .subscribe-content::after, .main-container #subscribe .subscribe-content .sub-cont-content::after, .main-container #subscribe::after, .main-container .blog-container::after, .main-container .blog-container .right-blog-section::after, .main-container .blog-container .left-blog-section::after, .main-container .blog-container .left-blog-section .left-blog-col-1::after, .main-container .blog-container .left-blog-section .left-blog-col-1 .btn-col-1::after, .main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1::after, .main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-img::after, .main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-detail::after, .main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .reply-2::after, .main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .reply-1::after, .main-container .blog-container .right-blog-section .right-blog-row-1::after, .main-container .blog-container .right-blog-section .right-blog-row-2::after, .main-container .blog-container .right-blog-section .right-blog-row-2 .popular-posts::after, .main-container .blog-container .right-blog-section .right-blog-row-2 .popular-posts div::after, .main-container .blog-container .right-blog-section .right-blog-row-3::after, .main-container .blog-container .right-blog-section .right-blog-row-4::after, .main-container .blog-container .right-blog-section .right-blog-row-4::after, .main-container .blog-container .right-blog-section .right-blog-row-5::after,.main-container .blog-container .right-blog-section .right-blog-row-5 .inspiration::after, .main-container .blog-container .right-blog-section .right-blog-row-6::after, .main-container .blog-container .right-blog-section .right-blog-row-7::after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar{
    width: 5px;
    background: linear-gradient(to top, #000000, #434343);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to right, #bbd2c5, #536976, #292e49);
}










@keyframes popup{
    0%{opacity:0;}
    100%{opacity:1;}
}
@media only screen and (min-width: 990px) {
    .main-container #subscribe .subscribe-content{
        width: 900px;
    }

}
@media only screen and (max-width: 990px){
    .main-container .blog-container .left-blog-section{
        display: block;
        float: none;
        width: 100%;
    }
    .main-container .blog-container .right-blog-section{
        float: none;
        width: 100%;
    }
}
@media only screen and (max-width: 750px){
    .main-container .blog-container .left-blog-section .left-blog-col-1 .replies-blog-1 .replies-col-img{
        float: none;
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .nav-bar{
        display: none;
    }
    .main-container .main-img-row .main-img-content .clear{
        display: none;
    }
    .main-container #subscribe .subscribe-content{
        width: 90%;
    }
    .replies-col-detail, .replies-col-img{
        display: block;
    }
}